[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/koostermeulen
[access "refs/for/refs/*"]
	read = group user/koostermeulen
	push = group user/koostermeulen
	label-Code-Review = -2..+2 group user/koostermeulen
	label-Verified = -1..+1 group user/koostermeulen
	rebase = group user/koostermeulen
	removeReviewer = group user/koostermeulen
	submit = group user/koostermeulen
[access "refs/heads/*"]
	read = group user/koostermeulen
	create = group user/koostermeulen
	push = +force group user/koostermeulen
	pushMerge = group user/koostermeulen
[access "refs/tags/*"]
	push = +force group user/koostermeulen
	pushTag = group user/koostermeulen
	pushSignedTag = group user/koostermeulen
